Name: Raphael Frach

Student Number: 20023625 

# 7CCSMHFF - Coursework 1

# Part I

Accessing and storing large volumes of data in a fast paced high-frequency finance environment is critical, the failure to do so can lead to poor decision making, from missing arbitrage opportunities to using incomplete data to validate market microstrucure models. 

There are two main frameworks in which this data can be stored: SQL-based Relation Database Management Systems(RDBMS) or NoSQL(Not Only SQL). The general idea of RDBMS is having a relationship in a schema that stores structured data, while NoSQL is able to store structured and unstructured data in a non-relational system, the format chosen best fits the data, examples of unstructed data can be XML files, image files, etc. The difference in types of data stored is one reason for their differing storage schemes. RDBMS keeps data stored in tables, where these tables can have different types of constraints to enforce data integrity or create links between tables with referential integrity [1]. SQL querries can then be used to interact with this data. However, NoSQL database designs fit into four broad categroies:

- <ins>Column-oriented</ins>: Cells of data grouped in columns rather than rows
- <ins>Key-value</ins>: Dictionaries form the model, the data is represented as a collection of key-value pairs  
- <ins>Document</ins>: Documents used to store data, typically a structure of keys and values. Data can be of differing types.
- <ins>Graph databases</ins>: For highly connected data, can be thought of as entities(nodes) and relationships(edges).

NoSQL have varying forms of their own, usually specific, query languages, and some don't have any at all, thus these languages and storage methods typically are used in much smaller communities compared to SQL.

Moving on, the high-level properties of RDBMS follow the transaction-oriented ACID(Atomocitiy, Consistency, Isolation, Durability) rules, where NoSQL focuses on high availability BASE(Basically-Available, Soft-State, Eventually-Consistent) criteria. The latter, being less sctrict, allows the handling of errors in real-time without loss of operation, but perhaps a slight loss in functionality[2]. This is suitable for use cases in industry, where high-frequency data storage models might have to change for a variety of reasons like regulations, new markets, or any reason for a change in the incoming data. The flexibility, scalability, and availability are highly important. SQL is rather preferred for applications possible of being fit to a structured and relational data model, that require integrity of transactions and consistency. SQL querries are also able to be very complex in such a logically structured design.

In summary, we will use an RDBMS(PostgreSQL), due to the need of only 3 tables of data, with their relationship shown in lse-description.pdf. Additionally, we wont be encountering any reason to scale the database, or manage changes in incoming data, or the need for high availability. If we were expected to encounter such problems, in practice we would likely look towards NoSQL, more specifically timeseries-database(TSDB). Nevertheless, here is a comparison table:


|                          | Relational  | Non-relational  |
|--------------------------|-------------------------|------------------------|
| **Data**                 | Structured  | Structured and Unstructed |
| **Query Language**       | SQL                     | Application-specific    |
| **Data-Storage**         | Tables                  | Documents,Tables,Graphs,Key-Value |
| **Properties**           | ACID         | BASE          |
| **Schema**               | Structured  | Dynamic                |
| **Scalability**          | Vertical Scaling (Hardware Upgrades) | Horizontal Scaling (Partitioning) |
| **Use Case**      | Predefined Structure | Distributed Structure |

<br/><br/>

<br/><br/>

<br/><br/>

<br/><br/>

# Part II

Importing dependencies used for handling .csv data in Python.

In [1]:
import pandas as pd
import numpy as np
from datetime import datetime

# Pre-processing and Cleaning

- We will be making use of pandas to firstly read the .csv data and then to manipulate certain inconsistencies and anomolies allowing us to format it nicely to be put into a postgreSQL database. This will give us some extra usability
    - One example is pre-processing the dates so that they can be sorted with SQL's TIMESTAMP type.    
    
- Note: There are many ways we could have gone about processing the database / schema, however here we have done the processing in pandas and created the schema in pgAdmin 4. This choice allows us to follow the structure of the coursework assingment, not having to connect in Python first and sending SQL creation queries through Python.

### Preparation 
Firstly, we need to get the data from the .csv files into pandas. 
- For each .csv file we will prepare column names as they haven't come with any headers

In [2]:
# Preparing column names for each file

column_names_order_details = [
    "OrderCode",
    "MarketSegmentCode",
    "MarketSectorCode",
    "TICode",
    "CountryOfRegister",
    "CurrencyCode",
    "ParticipantCode",
    "BuySellInd",
    "MarketMechanismGroup",
    "MarketMechanismType",
    "Price",
    "AggregateSize",
    "SingleFillInd",
    "BroadcastUpdateAction",
    "Date",
    "Time",
    "MessageSequenceNumber"
]

column_names_order_history = [
    "OrderCode",
    "OrderActionType",
    "MatchingOrderCode",
    "TradeSize",
    "TradeCode",
    "TICode",
    "CurrencyCode",
    "CountryOfRegister",
    "MarketSegmentCode",
    "AggregateSize",
    "BuySellInd",
    "MarketMechanismType",
    "MessageSequenceNumber",
    "Date",
    "Time"
]

column_names_trade_reports = [
    "MessageSequenceNumber",
    "TICode",
    "MarketSegmentCode",
    "CountryOfRegister",
    "CurrencyCode",
    "TradeCode",
    "TradePrice",
    "TradeSize",
    "TradeDate",
    "TradeTime",
    "BroadcastUpdateAction",
    "TradeTypeInd",
    "TradeTimeInd",
    "BargainConditions",
    "ConvertedPriceInd",
    "PublicationDate",
    "PublicationTime"
]

<br/><br/>

<br/><br/>

<br/><br/>

<br/><br/>

#### Unpacking/Unzipping the .csv files stored as .gz using TotalCommander x64



<img src="TotalCommanderIMG.png" alt="Example Image" style="width:800px; height:550px"/>


#### Then storing these in a folder, Data, inside of this coursework's folder.

In [3]:
# Defining variables with paths of the .csv files

order_details = "Data/allGlaxoOrderDetail.csv"
order_history = "Data/allGlaxoOrderHistory.csv"
trade_reports = "Data/allGlaxoTradeReport.csv"

In [4]:
# Parsing in the .csv data to pandas DataFrames with the new column headers

order_details_df = pd.read_csv(order_details, names = column_names_order_details)
order_history_df = pd.read_csv(order_history, names = column_names_order_history)
trade_reports_df = pd.read_csv(trade_reports, names = column_names_trade_reports)

In [5]:
# Checking column names

order_details_df.head()

,OrderCode,MarketSegmentCode,MarketSectorCode,TICode,CountryOfRegister,CurrencyCode,ParticipantCode,BuySellInd,MarketMechanismGroup,MarketMechanismType,Price,AggregateSize,SingleFillInd,BroadcastUpdateAction,Date,Time,MessageSequenceNumber
0,709ENVUN07,SET1,FE10,GB0009252882,GB,GBX,NaN,S,O,LO,1510.0,173,N,F,28022007,07:51:15,3717
1,208ATNHG07,SET1,FE10,GB0009252882,GB,GBX,NaN,S,O,LO,1550.0,1800,N,F,18012007,15:48:21,654681
2,006D95WX07,SET1,FE10,GB0009252882,GB,GBX,NaN,S,O,LO,1485.0,700,N,F,28022007,07:52:53,4338
3,006D94UH07,SET1,FE10,GB0009252882,GB,GBX,NaN,B,O,LO,1300.0,230,N,F,28022007,07:51:31,3849
4,709FJNIR07,SET1,FE10,GB0009252882,GB,GBX,NaN,S,O,LO,1449.0,1100,N,F,28022007,16:30:54,1309558

In [6]:
# Checking column names

order_history_df.head()

,OrderCode,OrderActionType,MatchingOrderCode,TradeSize,TradeCode,TICode,CurrencyCode,CountryOfRegister,MarketSegmentCode,AggregateSize,BuySellInd,MarketMechanismType,MessageSequenceNumber,Date,Time
0,208VSG5Q07,M,709JKPU707,500,709JKPUL07,GB0009252882,GB,GBX,SET1,0,S,LO,364284,8032007,11:44:09
1,609NJZ0107,M,308XOPF507,243,308XOPF807,GB0009252882,GB,GBX,SET1,0,S,LO,221138,8032007,10:05:18
2,308WLUQQ07,M,609MGG5Y07,1680,609MGG5Z07,GB0009252882,GB,GBX,SET1,0,S,LO,661284,6032007,14:38:17
3,208SG8CP07,M,509ABGBD07,3288,509ABGBI07,GB0009252882,GB,GBX,SET1,0,S,LO,1114862,1032007,15:28:20
4,609MYSWA07,M,208V4A1707,12148,208V4A1807,GB0009252882,GB,GBX,SET1,0,B,LO,359978,7032007,11:28:39

In [7]:
# Checking column names

trade_reports_df.head()

,MessageSequenceNumber,TICode,MarketSegmentCode,CountryOfRegister,CurrencyCode,TradeCode,TradePrice,TradeSize,TradeDate,TradeTime,BroadcastUpdateAction,TradeTypeInd,TradeTimeInd,BargainConditions,ConvertedPriceInd,PublicationDate,PublicationTime
0,1114866,GB0009252882,SET1,GB,GBX,509ABGBI07,1419.0000,3288,1032007,15:28:20,E,AT,N,Y,N,1032007,15:28:20
1,438192,GB0009252882,SET1,GB,GBX,308U55BX07,1423.0000,1645,1032007,11:46:34,E,AT,N,Y,N,1032007,11:46:34
2,1285577,GB0009252882,SET1,GB,GBX,308UIQWF07,1421.0000,298,1032007,16:14:20,E,AT,N,Y,N,1032007,16:14:20
3,736925,GB0009252882,SET1,GB,GBX,208T0L6W07,1401.5000,3,2032007,13:43:40,A,X,N,Y,N,2032007,13:43:41
4,1137035,GB0009252882,SET1,GB,GBX,609K7U8F07,1417.7714,5,1032007,15:34:15,A,VW,N,Y,N,1032007,15:34:16

### Converting Date and Time column to single Timestamp column.

- This will be done as a datetime object which is compatible with postgreSQL TIMESTAMP


#### Processing order details

In [8]:
# Converting 'Date' from integer to string, and then to datetime object concactenated with 'Time'
# and dropping the old redundant columns.

order_details_df['Date'] = order_details_df['Date'].astype(str)

order_details_df['Timestamp'] = pd.to_datetime(order_details_df['Date'] + ' ' + order_details_df['Time'], format='%d%m%Y %H:%M:%S')

order_details_df = order_details_df.drop(['Date', 'Time'], axis=1)

In [9]:
order_details_df.head()

,OrderCode,MarketSegmentCode,MarketSectorCode,TICode,CountryOfRegister,CurrencyCode,ParticipantCode,BuySellInd,MarketMechanismGroup,MarketMechanismType,Price,AggregateSize,SingleFillInd,BroadcastUpdateAction,MessageSequenceNumber,Timestamp
0,709ENVUN07,SET1,FE10,GB0009252882,GB,GBX,NaN,S,O,LO,1510.0,173,N,F,3717,2007-02-28 07:51:15
1,208ATNHG07,SET1,FE10,GB0009252882,GB,GBX,NaN,S,O,LO,1550.0,1800,N,F,654681,2007-01-18 15:48:21
2,006D95WX07,SET1,FE10,GB0009252882,GB,GBX,NaN,S,O,LO,1485.0,700,N,F,4338,2007-02-28 07:52:53
3,006D94UH07,SET1,FE10,GB0009252882,GB,GBX,NaN,B,O,LO,1300.0,230,N,F,3849,2007-02-28 07:51:31
4,709FJNIR07,SET1,FE10,GB0009252882,GB,GBX,NaN,S,O,LO,1449.0,1100,N,F,1309558,2007-02-28 16:30:54

#### Cleaning order history

In [10]:
# Converting 'Date' from integer to string, and then to datetime object concactenated with 'Time'
# and dropping the old redundant columns.

order_history_df['Date'] = order_history_df['Date'].astype(str)

order_history_df['Timestamp'] = pd.to_datetime(order_history_df['Date'] + ' ' + order_history_df['Time'], format='%d%m%Y %H:%M:%S')

order_history_df = order_history_df.drop(['Date', 'Time'], axis=1)

In [11]:
order_history_df.head()

,OrderCode,OrderActionType,MatchingOrderCode,TradeSize,TradeCode,TICode,CurrencyCode,CountryOfRegister,MarketSegmentCode,AggregateSize,BuySellInd,MarketMechanismType,MessageSequenceNumber,Timestamp
0,208VSG5Q07,M,709JKPU707,500,709JKPUL07,GB0009252882,GB,GBX,SET1,0,S,LO,364284,2007-03-08 11:44:09
1,609NJZ0107,M,308XOPF507,243,308XOPF807,GB0009252882,GB,GBX,SET1,0,S,LO,221138,2007-03-08 10:05:18
2,308WLUQQ07,M,609MGG5Y07,1680,609MGG5Z07,GB0009252882,GB,GBX,SET1,0,S,LO,661284,2007-03-06 14:38:17
3,208SG8CP07,M,509ABGBD07,3288,509ABGBI07,GB0009252882,GB,GBX,SET1,0,S,LO,1114862,2007-03-10 15:28:20
4,609MYSWA07,M,208V4A1707,12148,208V4A1807,GB0009252882,GB,GBX,SET1,0,B,LO,359978,2007-03-07 11:28:39

#### Cleaning trade reports

In [12]:
# Converting 'Date' from integer to string, and then to datetime object concactenated with 'Time'
# and dropping the old redundant columns.

trade_reports_df['PublicationDate'] = trade_reports_df['PublicationDate'].astype(str)

trade_reports_df['PublicationTimestamp'] = pd.to_datetime(trade_reports_df['PublicationDate'] + ' ' + trade_reports_df['PublicationTime'], format='%d%m%Y %H:%M:%S')

trade_reports_df = trade_reports_df.drop(['PublicationDate', 'PublicationTime'], axis=1)

In [13]:
trade_reports_df.head()

,MessageSequenceNumber,TICode,MarketSegmentCode,CountryOfRegister,CurrencyCode,TradeCode,TradePrice,TradeSize,TradeDate,TradeTime,BroadcastUpdateAction,TradeTypeInd,TradeTimeInd,BargainConditions,ConvertedPriceInd,PublicationTimestamp
0,1114866,GB0009252882,SET1,GB,GBX,509ABGBI07,1419.0000,3288,1032007,15:28:20,E,AT,N,Y,N,2007-03-10 15:28:20
1,438192,GB0009252882,SET1,GB,GBX,308U55BX07,1423.0000,1645,1032007,11:46:34,E,AT,N,Y,N,2007-03-10 11:46:34
2,1285577,GB0009252882,SET1,GB,GBX,308UIQWF07,1421.0000,298,1032007,16:14:20,E,AT,N,Y,N,2007-03-10 16:14:20
3,736925,GB0009252882,SET1,GB,GBX,208T0L6W07,1401.5000,3,2032007,13:43:40,A,X,N,Y,N,2007-03-20 13:43:41
4,1137035,GB0009252882,SET1,GB,GBX,609K7U8F07,1417.7714,5,1032007,15:34:15,A,VW,N,Y,N,2007-03-10 15:34:16

We are skipping the steps of installation as this is standard for anyone using PostgreSQL

Upon installation, you are asked to enter your postgres user password, created in installation process

<img src="Screenshot 2024-03-02 180706.png" alt="Your Image" width="800" height="400">

After this, we double click on PostgreSQL 16 and the database connects to our PC.

We can then open up the Database tab under PostgreSQL 16 and create a new database, in our case 'test2'.

## Creating tables in pgAdmin 4

- Now that we have performed some cleaning/pre-processing to our data, we know its structure and can create an according schema and tables.

#### Creating the database:
   - Right click on Databases, and select new table, we will be working directly in the already created 'public' schema.

#### Creating orderDetail table
- Right click on tables -> Query Tool, inserting the following query



<img src="pgAdmin 4 CreatingSecondTable.png" alt="Example Image" style="width:800px; height:550px"/>

#### Creating OrderHistory table
- Right click on tables -> Query Tool, inserting the following query



<img src="pgAdmin 4 CreatingFirstTable.png" alt="Example Image" style="width:800px; height:550px"/>

#### Creating TradeReport table
- Right click on tables -> Query Tool, inserting the following query



<img src="pgAdmin 4 CreatingThirdTable.png" alt="Example Image" style="width:800px; height:550px"/>

The tables are now set up, so we can push data from pandas to postgreSQL.

## Pushing pandas DataFrames to postgreSQL database.

- Note: We are already connecting to the database via an engine to push the dataframes to postgreSQL, this encompasses a part of Part III: Establish a connection to the database in Python, but we will later connect using psycopg2 to send SQL querries.

In [14]:
# Required dependencies

import psycopg2  # Used in Part III
import pandas as pd
import sqlalchemy

In [15]:
# Create a SQLAlchemy engine

engine = sqlalchemy.create_engine('postgresql://postgres:password@localhost:5432/test2')

In [16]:
# Uncapitalising all letters in columns for each dataframe, as postegresql is case sensitive

order_details_df.columns = [col.lower() for col in order_details_df.columns]
order_history_df.columns = [col.lower() for col in order_history_df.columns]
trade_reports_df.columns = [col.lower() for col in trade_reports_df.columns]


order_details_df.head()

,ordercode,marketsegmentcode,marketsectorcode,ticode,countryofregister,currencycode,participantcode,buysellind,marketmechanismgroup,marketmechanismtype,price,aggregatesize,singlefillind,broadcastupdateaction,messagesequencenumber,timestamp
0,709ENVUN07,SET1,FE10,GB0009252882,GB,GBX,NaN,S,O,LO,1510.0,173,N,F,3717,2007-02-28 07:51:15
1,208ATNHG07,SET1,FE10,GB0009252882,GB,GBX,NaN,S,O,LO,1550.0,1800,N,F,654681,2007-01-18 15:48:21
2,006D95WX07,SET1,FE10,GB0009252882,GB,GBX,NaN,S,O,LO,1485.0,700,N,F,4338,2007-02-28 07:52:53
3,006D94UH07,SET1,FE10,GB0009252882,GB,GBX,NaN,B,O,LO,1300.0,230,N,F,3849,2007-02-28 07:51:31
4,709FJNIR07,SET1,FE10,GB0009252882,GB,GBX,NaN,S,O,LO,1449.0,1100,N,F,1309558,2007-02-28 16:30:54

In [62]:
# Lets send OrderDetails to postgresql database: test2

order_details_df.to_sql('t_orderdetail', engine, if_exists='append', index=False)

322

In [73]:
# Lets send OrderHistory to postgresql database: test2

order_history_df.to_sql('t_orderhistory', engine, if_exists='append', index=False)

208

In [78]:
# Lets send TradeReports to postgresql database: test2

trade_reports_df.to_sql('t_tradereport', engine, if_exists='append', index=False)

136

## Adding Constraints to link relations
- Our 3 tables have been created, and there is data stored in each one in postgreSQL, time to link the tables.

### Relationship:
- We will be using Primary and Foreign keys here.

    - OrderDetail table:
        - Primary Key ordercode
    - OrderHistory table:
        - Foreign Key ordercode Referencing OrderDetail(ordercode)
        - Foreign (composite) Key tradecode, messagesequencenumber Referencing TradeReport(tradecode,messagesequencenumber)   
    - TradeReport table:
        - Primary (composite) Key tradecode, messagesequencenumber
        
Below we will implement this relationship.

### Making ordercode a Primary Key in t_orderdetail
- right click Tables (3) -> Query Tool and run following query

<img src="pgAdmin 4 PrimaryKey t_orderdetail.png" alt="Example Image" style="width:800px; height:550px"/>

### Making ordercode in t_orderhistory a Foreign Key referencing ordercode in t_orderdetail
- right click Tables (3) -> Query Tool and run following query

<img src="pgAdmin 4 ForeignKey-FIRST t_orderdetail.png" alt="Example Image" style="width:800px; height:550px"/>

### Making tradercode, messagesequencenumber in t_tradereport a (composite) Primary Key in t_tradereport

    - Note: This is done before creating the foreign key referencing it in t_orderhistory, this will be done one cell below.
    
    
<img src="pgAdmin 4 PrimaryKey t_tradereport.png" alt="Example Image" style="width:800px; height:550px"/>

### Making (composite) Foreign key tradecode, messagesequencenumber in t_orderhistory referencing t_tradereport above

    - This now links t_orderhistory to t_tradereport
    
<img src="pgAdmin 4 ForeignKey-SECOND t_orderdetail.png" alt="Example Image" style="width:800px; height:550px"/>

### Concluding Part II
- Our database is set up. We have created the tables via SQL querries, cleaned the .csv data in pandas, sent the pandas data to postgreSQL via SQLALCHEMY library, and finally created the relations.

# Part III

#### Connecting via psycopg2 with a cursor.

In [49]:
# Creating a connection and a cursor which will direct the SQL querries.

connection = psycopg2.connect(host="localhost", dbname="test2", user="postgres", password="password", port=5432)

cursor = connection.cursor()

In [50]:
# Define the schema and table name

schema_name = 'public'
t_orderdetail_str = 't_orderdetail'
t_orderhistory_str = 't_orderhistory'
t_tradereport_str = 't_tradereport'

In [51]:
# List of querries to try:

# These queries will be explained before we run them, and have a short note on the results/responses.

query_test = 'SELECT * FROM ' + schema_name + '.' + t_orderdetail_str + ' LIMIT 100;'
query_TCO = 'SELECT COUNT(*) AS TotalCancelledOrders FROM ' + schema_name + '.' + t_orderhistory_str + \
                                                        ' WHERE orderactiontype = \'D\';' 

query_timestamp = 'SELECT * FROM ' + schema_name + '.' + t_orderhistory_str + \
                                                        ' WHERE orderactiontype = \'D\' ORDER BY timestamp ASC LIMIT 10;'

- query_test: query will just select the first 100 rows from t_orderdetail and store it to nicely view in a pandas DataFrame.

Running this below:

In [56]:
try:
    # Execute the query
    cursor.execute(query_test)

    # Fetch all the results
    rows = cursor.fetchall()


    
    # Define column names
    columns_order_details = [
        "OrderCode",
        "MarketSegmentCode",
        "MarketSectorCode",
        "TICode",
        "CountryOfRegister",
        "CurrencyCode",
        "ParticipantCode",
        "BuySellInd",
        "MarketMechanismGroup",
        "MarketMechanismType",
        "Price",
        "AggregateSize",
        "SingleFillInd",
        "BroadcastUpdateAction",
        "MessageSequenceNumber",
        "Timestamp",
    ]

    # Create a DataFrame
    response = pd.DataFrame(rows, columns=columns_order_details)

    # Print the DataFrame
    print(response)
    
    
    

except Exception as e:
    print(f"Error executing query: {e}")

finally:
    # Close the cursor and connection
    if cursor:
        cursor.close()
    if connection:
        connection.close()

     OrderCode MarketSegmentCode MarketSectorCode        TICode  \
0   709ENVUN07              SET1             FE10  GB0009252882
1   208ATNHG07              SET1             FE10  GB0009252882
2   006D95WX07              SET1             FE10  GB0009252882
3   006D94UH07              SET1             FE10  GB0009252882
4   709FJNIR07              SET1             FE10  GB0009252882
..         ...               ...              ...           ...
95  006E1BP507              SET1             FE10  GB0009252882
96  709DLGVW07              SET1             FE10  GB0009252882
97  5099MK1607              SET1             FE10  GB0009252882
98  208RPX3T07              SET1             FE10  GB0009252882
99  709EO10O07              SET1             FE10  GB0009252882

   CountryOfRegister CurrencyCode ParticipantCode BuySellInd  \
0                 GB          GBX            None          S
1                 GB          GBX            None          S
2                 GB          GBX            None          S
3                 GB          GBX            None          B
4                 GB          GBX            None          S
..               ...          ...             ...        ...
95                GB          GBX            None          S
96                GB          GBX            None          S
97                GB          GBX            None          S
98                GB          GBX            None          B
99                GB          GBX            None          B

   MarketMechanismGroup MarketMechanismType          Price AggregateSize  \
0                     O                  LO  1510.00000000           173
1                     O                  LO  1550.00000000          1800
2                     O                  LO  1485.00000000           700
3                     O                  LO  1300.00000000           230
4                     O                  LO  1449.00000000          1100
..                  ...                 ...            ...           ...
95                    O                  LO  1442.00000000          4000
96                    O                  LO  1875.00000000           130
97                    O                  LO  1449.00000000         30530
98                    O                  LO  1417.00000000         38600
99                    O                  LO  1368.00000000           120

   SingleFillInd BroadcastUpdateAction  MessageSequenceNumber  \
0              N                     F                   3717
1              N                     F                 654681
2              N                     F                   4338
3              N                     F                   3849
4              N                     F                1309558
..           ...                   ...                    ...
95             N                     F                1308232
96             N                     F                  35138
97             N                     F                1316712
98             N                     F                1309416
99             N                     F                   2918

             Timestamp
0  2007-02-28 07:51:15
1  2007-01-18 15:48:21
2  2007-02-28 07:52:53
3  2007-02-28 07:51:31
4  2007-02-28 16:30:54
..                 ...
95 2007-02-28 16:30:22
96 2007-02-26 08:26:43
97 2007-02-28 16:35:02
98 2007-02-28 16:30:50
99 2007-02-28 07:50:06

[100 rows x 16 columns]

We used a DataFrame to store the data to be more readable than the raw format given back in Python. We can see a DataFrame of the first 100 rows from t_orderdetails

- query_TCO: query will return the number of cancelled orders, based on the description from lse-description.pdf

Running this below:

In [33]:
try:
    # Execute the query
    cursor.execute(query_TCO)

    # Fetch all the results
    result = cursor.fetchall()
    
    print(result)
    
    

except Exception as e:
    print(f"Error executing query: {e}")

finally:
    # Close the cursor and connection
    if cursor:
        cursor.close()
    if connection:
        connection.close()

[(201675,)]

The above is the number of cancelled orders.

- query_timestamp: query will return the 10 oldest cancelled orders (i.e. the first 10 orders to be cancelled).

Running this below:

In [52]:
try:
    # Execute the query
    cursor.execute(query_timestamp)

    # Fetch all the results
    rows = cursor.fetchall()
    
    
    columns_order_history = [
    "OrderCode",
    "OrderActionType",
    "MatchingOrderCode",
    "TradeSize",
    "TradeCode",
    "TICode",
    "CurrencyCode",
    "CountryOfRegister",
    "MarketSegmentCode",
    "AggregateSize",
    "BuySellInd",
    "MarketMechanismType",
    "MessageSequenceNumber",
    "TimeStamp"
]
    
    # Create a DataFrame
    response = pd.DataFrame(rows, columns=columns_order_history)

    # Print the DataFrame
    print(response)
    
    
    
    

except Exception as e:
    print(f"Error executing query: {e}")

finally:
    # Close the cursor and connection
    if cursor:
        cursor.close()
    if connection:
        connection.close()

    OrderCode OrderActionType MatchingOrderCode  TradeSize TradeCode  \
0  308VBZ0X07               D              None          0      None
1  709H5ONE07               D              None          0      None
2  208SQVNO07               D              None          0      None
3  709H5OP607               D              None          0      None
4  609L7IVW07               D              None          0      None
5  308VH41007               D              None          0      None
6  006FZ0UN07               D              None          0      None
7  509B9U1M07               D              None          0      None
8  006FYVUB07               D              None          0      None
9  308VEK1Z07               D              None          0      None

         TICode CurrencyCode CountryOfRegister MarketSegmentCode  \
0  GB0009252882           GB               GBX              SET1
1  GB0009252882           GB               GBX              SET1
2  GB0009252882           GB               GBX              SET1
3  GB0009252882           GB               GBX              SET1
4  GB0009252882           GB               GBX              SET1
5  GB0009252882           GB               GBX              SET1
6  GB0009252882           GB               GBX              SET1
7  GB0009252882           GB               GBX              SET1
8  GB0009252882           GB               GBX              SET1
9  GB0009252882           GB               GBX              SET1

  AggregateSize BuySellInd MarketMechanismType  MessageSequenceNumber  \
0         11837          B                  LO                   2778
1          4734          B                  LO                   3116
2         20000          B                  LO                   4012
3         20000          S                  LO                   4132
4         11837          B                  LO                   5248
5         10000          S                  LO                   5573
6          4734          B                  LO                   5795
7         16000          B                  LO                   5845
8          7000          S                  MO                   6030
9          4734          B                  LO                   6134

            TimeStamp
0 2007-03-05 07:50:14
1 2007-03-05 07:50:50
2 2007-03-05 07:53:50
3 2007-03-05 07:54:10
4 2007-03-05 07:56:17
5 2007-03-05 07:56:55
6 2007-03-05 07:57:23
7 2007-03-05 07:57:24
8 2007-03-05 07:57:50
9 2007-03-05 07:58:04

These are the 10 first orders to be cancelled, as we can see from the timestamp column, it looks right as they look like the oldest dates.

Again we have stored (and printed) the response in a DataFrame.

Also note: we have made use of the TimeStamp column for sorting, which we pre-processed eariler in Part II.

# References:

[1] - W. D. Assaf, R. West,  et al: (2023, Sept) _Primary and Foreign Key Constraints_ Retrieved from Microsoft:\
https://learn.microsoft.com/en-us/sql/relational-databases/tables/primary-and-foreign-key-constraints?view=sql-server-ver16

[2] - E. Brewer: (2012, May) _CAP Twelve Years Later: How the "Rules" Have Changed_ Retrieved from InfoQ:\
https://www.infoq.com/articles/cap-twelve-years-later-how-the-rules-have-changed/